body {
    font-family: Arial, sans-serif;
    background-color: #FDF7F0;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background-color: white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 400px;
}

h2 {
    font-size: 28px;
    margin-bottom: 20px;
    color: #333;
}

.profile-header {
    text-align: center;
    margin-bottom: 20px;
}

.profile-img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    object-fit: cover;
    border: 2px solid #ccc;
}

.form-group {
    margin-bottom: 20px;
}

.form-group label {
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
    font-size: 14px;
}

.form-group input,
.form-group select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f4f4f4;
    font-size: 14px;
}

.form-group input:focus,
.form-group select:focus {
    outline: none;
    border-color: #C9863C;
}

.form-group-group {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.form-group-group .form-group {
    flex: 1;
}

.input-icon {
    position: relative;
}

.input-icon input {
    padding-right: 10px
}

.check-icon {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    color: #C9863C;
    font-size: 18px;
}

.button-group {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.cancel-btn {
    background-color: white;
    color: #C9863C;
    border: 1px solid #C9863C;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.cancel-btn:hover {
    background-color: #f4f4f4;
}

.save-btn {
    background-color: #C9863C;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.save-btn:hover {
    background-color: #a5662e;
}
